@{
    ViewBag.Title = "Домашняя страница";
    ViewBag.LabNumber = "7";
}

@section SidePanel {
    <div class="alert-success">
        <h4>
            <i>Пример работы с секциями на странице шаблона</i>
        </h4>
    </div>
    }

<h2>@ViewBag.IndexHelloWorldMessage</h2>
<h2>Список</h2>
<ol type="A">
    @{for (int i = 1; i <= 2; i++)
        {
            <li>Элемент списка @i</li>
        }
    }
</ol>
<hr />

<h2>Форма</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal col-md-10" }))
{
    <div class="form-group">
        <ul class="list-unstyled">
            @for (int i = 1; i <= 2; i++)
            {
                <li>
                    @{string s = "Чек-бокс №" + i;}
                    @Html.Label(s)
                    @{string ss = "cbBox" + i;}
                    @Html.CheckBox(ss)
                </li>
            }
        </ul>
    </div>
    <div class="form-group">
        <label>Радио-1</label>
        @Html.RadioButton("optionsRadios", "option1", true, new { @class = "radio-inline", id = "r1" })
        <label>Радио-2</label>
        @Html.RadioButton("optionsRadios", "option2", false, new { @class = "radio-inline", id = "r2" })
    </div>
    <div class="form-group">
        @Html.Label("Логин", new { @class = "col-md-2" })
        @Html.TextBox("inLogin", "", new { @class = "col-md-8" })
    </div>
    <div class="form-group">
        @Html.Label("Пароль", new { @class = "col-md-2" })
        @Html.Password("inPwd", "", new { @class = "col-md-8" })
    </div>
    <div class="form-group">
        @Html.DropDownList("SL")
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-default">Отправить</button>
        </div>
    </div>
}
<hr />